{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статьи</title>
    <link rel="stylesheet"  href="{% static 'css/main.css' %}">
    <link rel="stylesheet"  href="{% static 'css/modal.css' %}">
    <script src="{% static 'js/main.css' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>