{% extends 'Main/base.html' %}

{% block content %}
    <div class="wrapper">



        <div id="openModal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Добавления новой статьи</h3>
                <a href="#close" title="Close" class="close">×</a>
              </div>
              <div class="modal-body">
                 <form enctype="multipart/form-data" method="post" style="margin-bottom: 30px; margin-left: 20px">
                    {% csrf_token %}
                    <div class="form-list" style="margin-bottom: 5px">{{ form.project }}</div>
                    <div class="from-title" style="margin-bottom: 5px">{{ form.title }}</div>
                    <div class="from-subtitle" style="margin-bottom: 5px">{{ form.subtitle }}</div>
                    <div class="from-file" style="margin-bottom: 5px">{{ form.file }}</div>
                    <div style="margin-bottom: 20px">
                        <div><span style="font-size: 14px; margin-bottom: 8px">Выберите тэги к статье:</span></div>
                        {% for tag in tags%}
                             <input type="checkbox" name="check" id="tag{{ tag.id }}" value="{{ tag.id }}">
                             <label for="tag{{ tag.id }}">#{{ tag.name }}</label>
                        {% endfor %}
                    </div>
                     <input type="submit" value="Загрузить статью">
                </form>
              </div>
            </div>
          </div>
        </div>



        <div class="container">
            <div>
                <div style="margin-left: 20px; margin-bottom: 30px; color: white">
                    <span style="font-size: 30px; font-weight: bold; margin-right: 10px">Лента</span>
                    <span style="opacity: 0.5;">Поляна публикаций</span>
                </div>
                <div class="add-btn">
                  <a class="btn" href="#openModal">Добавить статью</a>
                </div>
            </div>


            {% for post in articls %}
            <div class="articl">
                <div class="title">
                    <div class="art-title">{{ post.title }}</div>
                    <div class="art-subtitle">{{ post.subtitle }}</div>
                </div>
                {% if post.banner %}<img src="{{ post.banner.url }}" alt="Картинка"><br>{% endif %}

<!--                Для вывода всех картинок статьи-->
<!--                {% for img in imgs%}-->
<!--                    {% if img.articls.title == post.title %}<img src="{{ img.img.url }}" alt="Картинка"><br>{% endif %}-->
<!--                {% endfor %}-->



                <div class="art-text">{{ post.text| truncatewords:30 |safe }}</div>
                <div class="art-text">
                    <a href="post/{{ post.uid }}">Читать полностью...</a>
                </div>
                <div class="art-tags">
                    <span>Теги: </span>
                    {% for tag in post.tags.all %}
                        <span class="tags">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}