{% extends 'Main/base.html' %}

{% block content %}
    <div class="post-conteiner">
        <div class="block-post">
            <div class="">{{ articl.title }}</div>
            <div class="">{{ articl.subtitle }}</div>
            <div class="">{{ articl.text | safe }}</div>
            <div class="">
                <span>Теги: </span>
                {% for tag in articl.tags.all %}
                    <span class="tags">#{{ tag.name }}</span>
                {% endfor %}
            </div>
            {{ html | safe }}
        </div>
    </div>
{% endblock %}