body{
    background-color: #365d89;
}

span{
    font-family: "PT Sans", sans-serif;
}

p{
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}


/*Стиль формы загрузки фала*/





.container{
    max-width: 1250px;
    margin: auto;
    padding: 0 10px;
}
.add-btn{
    margin-left: 20px;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: white;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}
.btn:hover{
    background-color: #eeeeee;
}


.articl{
    width: 21%;
    margin: .6%;
    float: left;
    height: 550px;
    margin-bottom: 30px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 0.4em;
    color: #4a4a4a;
}

.title{

}

.art-title{
    padding: 8px 8px 3px 8px;
    font-size: 22px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
}

.art-subtitle{
    padding: 3px 8px 8px 8px;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
}

.art-text{
    padding: 8px 8px 8px 8px;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

img{
    width: 100%;
    height: auto;
}

.art-tags{
    padding: 8px 8px 8px 8px;
    font-size: 12px;
}

.tags{
    background: #7D9ABA;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    padding: 1px 4px;
    margin: 0px 3px 3px 0;
    color: white;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer
}

.add-tags{
    background: #7D9ABA;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    padding: 4px 7px;
    margin: 0px 3px 3px 0;
    color: white;
    border-radius: 2px;
    white-space: nowrap;
    font-style: normal;
    cursor: pointer
}

.add-tags:hover{
        background: #718ba8;
}

input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label {
    background: #7D9ABA;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    padding: 4px 7px;
    margin: 0px 3px 3px 0;
    color: white;
    border-radius: 2px;
    white-space: nowrap;
    font-style: normal;
    cursor: pointer
}
input[type=checkbox]:hover + label{
     background: #1b6d85;
}

input[type=checkbox]:checked + label{
     background: #4b855c;
}


.post-conteiner{
    max-width: 1250px;
    margin: auto;
    padding: 0 10px;
}

.block-post{
    background-color: white;
    border-radius: 0.4em;
    padding: 10px 20px;
}